:root {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body {
    margin: 0;
    padding: 0;
}

header, 
.hero, 
footer {
    background-color: #1f2937;
    overflow: hidden;
    /* margin: 0 auto; */
}

.quote {
    background-color: #e5e7eb;
}

.header-content,
.hero-content,
.info-content,
.quote-content,
.action-content {
    width: 1000px;
    margin: 0 auto;
    display: flex;
}

header {
    padding: 20px;
}

.page-icon {
    margin-right: auto;
    font-size: 24px;
    color: #f9faf8;
    font-weight: bold;
}

.links  {
    display: flex;
    gap: 40px;
}

.hero-content {
    padding-top: 80px;
    padding-bottom: 120px ;
    align-items: center;
}

.hero-text {
    padding-right: 50px;
}

.hero-text > h1 {
    font-size: 48px;
    color: #f9faf8;
    font-weight: 900;
    margin: 0;
}
.hero-text > p,
.link {
    font-size: 18px;
    color: #e5e7eb;
    margin: 0 0 10px 0;
}

.hero-image {
    flex-shrink: 0;
    width: 500px;
    height: 230px;
    background-color: rgba(255,255,255, .3);
    display: flex;
    justify-content: center;
    align-items: center;
    color: #e5e7eb;
}

button {
    background-color: #3882f6;
    font-size: 16px;
    color: #f9faf8;
    width: 130px;
    padding: 10px;
    border-radius: 10px;
    font-weight: 900;
    border: none;
}
