:root {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

* {
    margin: 0;
}

header, 
.hero, 
footer {
    background-color: #1f2937;
    overflow: hidden;
}

.header-content,
.hero-content,
.info-content,
.quote-content,
.action-content {
    width: 1000px;
    margin: 0 auto;
    display: flex;
}

header {
    padding: 20px;
}

.page-icon {
    margin-right: auto;
    font-size: 24px;
    color: #f9faf8;
    font-weight: bold;
}

.links  {
    display: flex;
    gap: 40px;
}

.hero-content {
    padding-top: 80px;
    padding-bottom: 120px ;
    align-items: center;
}

.hero-text {
    padding-right: 50px;
}

.hero-text > h1 {
    font-size: 48px;
    color: #f9faf8;
    font-weight: 900;
}
.hero-text > p,
.link {
    font-size: 18px;
    color: #e5e7eb;
    margin: 0 0 10px 0;
}

.hero-image {
    flex-shrink: 0;
    width: 500px;
    height: 230px;
    background-color: rgba(255,255,255, .3);
    display: flex;
    justify-content: center;
    align-items: center;
    color: #e5e7eb;
}

button {
    background-color: #3882f6;
    font-size: 16px;
    color: #f9faf8;
    width: 130px;
    padding: 10px;
    border-radius: 10px;
    font-weight: 900;
    border: none;
}

.info-content {
    flex-direction: column;
    align-items: center;
}

.info-content > h3 {
    font-size: 36px;
    font-weight: 900;
    color: #1f2937;
    padding: 50px;
}

.items {
    display: flex;
    gap: 50px;
    padding-bottom: 90px;
}

.item-holder {
    width: 155px;
    height: 155px;
    border: 5px solid #3882f6;
    border-radius: 15px;
}

.item > p {
    width: 155px;
    font-size: 16px;
    text-align: center;
}

.quote {
    background-color: #e5e7eb;
    height: 400px;
    display: flex;
}

.quote-content {
    margin: auto;
    flex-direction: column;

}
.quote-content .text {
    font-size: 36px;
    color: #1f2937;
}
.quote-content .sign {
    margin: 10px;
    align-self: flex-end;
    font-size: 24px;
}

.call-to-action {
    height: 350px;
    display: flex;
    justify-content: center;
}

.action-content {
    margin: auto;
    background-color: #3882f6;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 120px;
    padding: 50px 0;
    border-radius: 10px;
}

.action-content > button {
    border: 1px solid white ;
    height: 35px;
    padding: 0;
}

.text h6 {
    color: #f9faf8;
    font-size: 24px;
}
.text p {
    color: #e5e7eb;
}

footer {
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #f9faf8;
}
